In [ ]:
x = 5
y = 10

temp = x
x = y
y = temp

print("Value of x:", x)
print("Value of y:", y)

Value of x: 10
Value of y: 5

In [ ]:
x = 10
y = 50

# sum of two numbers
# if we minus 1st number from sum we get second number
# if we minus 2nd number from sum we get 1st number
x = x + y
y = x - y
x = x - y
print("Value of x:", x)
print("Value of y:", y)

Value of x: 50
Value of y: 10

In [ ]:
# Remove duplicate elements from a list without converting to tuple
test_list = [1, 5, 3, 6, 3, 5, 6, 1]

print ("The original list is : ",test_list)
test_list = list(set(test_list))
print ("The list after removing duplicates : ",test_list)

The original list is :  [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates :  [1, 3, 5, 6]

In [ ]:
gcd = 0
print("Enter two numbers")
a = int(input())
b = int(input())
i = 1
while(i <= a and i <= b):
  if((a % i == 0) and (b % i == 0)):
    print("The value of i is divisble",i)
    gcd = i
  i = i + 1

print("GCD : ",gcd)

Enter two numbers
20
28
The value of i is divisble 1
The value of i is divisble 2
The value of i is divisble 4
GCD :  4

In [ ]:
# Write a loop to print following series
# 10, 20, 30,  …………………, 300

for k in range(1,31):
  print(k*10,end=",")

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,

In [ ]:
# Write a loop to print following series
# 105,98,91,………………………,7

for k in range(105,6,-7):
  print(k,end=",")

105,98,91,84,77,70,63,56,49,42,35,28,21,14,7,

In [ ]:
def printValue(digit):

  # Switch block to check for each digit c

  # For digit 0
  if digit == '0':
      print("Zero ", end = " ")

  # For digit 1
  elif digit == '1':
      print("One ", end = " ")

  # For digit 2
  elif digit == '2':
      print("Two ", end = " ")

  #For digit 3
  elif digit=='3':
      print("Three",end=" ")

  # For digit 4
  elif digit == '4':
      print("Four ", end = " ")

  # For digit 5
  elif digit == '5':
      print("Five ", end = " ")

  # For digit 6
  elif digit == '6':
      print("Six ", end = " ")

  # For digit 7
  elif digit == '7':
      print("Seven", end = " ")

  # For digit 8
  elif digit == '8':
      print("Eight", end = " ")

  # For digit 9
  elif digit == '9':
      print("Nine ", end = " ")

a={1:"one",2:"two",3:"three"}
def printWord(N):
  for k in N:
    print(a[int(k)],end=" ")

N = "123"
printWord(N)

one two three

In [ ]:
# Write a program to print fibonacci series upto n terms in python
num = 50
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [ ]:
#Write a program to print factorial of a number
#factorial of 55*4*3*2*1

num = int(input("Enter a number: "))
factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [ ]:
# Write a program to print factorial of a number
# 153 %10 =3

num = int(input("Enter a number: "))
sum = 0
get_length=0

temp = num

while temp > 0:
   digit = temp % 10
   sum = sum+ digit ** len(str(num))
   temp = temp//10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 421
421 is not an Armstrong number

In [ ]:
b_num = int(input("Input a binary number: "))
power = 0
sum=0
# 10011

while b_num>0:
	a=b_num%10
	sum=sum+a*(2**power)
	b_num=b_num//10
	power=power+1

print(sum)

Input a binary number: 10011
19

In [ ]:
# #10011 give back 19
binary=[]
dec_val = 19

while dec_val>0:
  remainder=str(dec_val%2)
  binary.append(remainder)
  dec_val=dec_val//2

binary.reverse()
print("".join(binary))

10011

In [ ]:
def checkpalindrom(num):
   a = 0
   c = num
   while num > 0:
      r = num % 10
      num = num // 10
      a = (10 * a) + r
   if a == c:
      print("Number is Palindrom")
   else:
      print("Number is Not a Palindrom")

num = 25352
checkpalindrom(num)

Number is Palindrom

In [ ]:
# Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500
for k in range(101,501):
  if k%13==0 and k%3!=0:
      print(k)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [ ]:
temp = int(input("Input the  temperature you like to convert : "))
degree = temp
i_convention = input("convert the temprature to? options (Celsius,Fahrenheit)")

if i_convention.lower() == "celsius":
  result = round((9 * degree) / 5 + 32)

elif i_convention.lower() == "fahrenheit":
  result = round((degree - 32) * 5 / 9)

print("The temperature in", i_convention, "is", result, "degrees.")

Input the  temperature you like to convert : 45
convert the temprature to? options (Celsius,Fahrenheit)fahrenheit
The temperature in fahrenheit is 7 degrees.

In [ ]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))

# 2d list list[0][1]
grid = []
for i in range(row_num):
    row = []
    for j in range(col_num):
        row.append(i * j)
    grid.append(row)
    print(row)

Input number of rows: 5
Input number of columns: 5
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
[0, 3, 6, 9, 12]
[0, 4, 8, 12, 16]

In [ ]:
s = input("Input a string")
d=0
l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

Input a string1234yyryr
Letters 5
Digits 4

In [ ]:
# 17
import random
all_combinations=[]

def get_permutation(string_inp):
  list_final=[]
  for k in range(len(string_inp)):
    set_temp=set()
    words=[c for c in string_inp]
    words.pop(k)
    while len(set_temp)!=len(string_inp)-1:
      random.shuffle(words)
      set_temp.add(string_inp[k]+"".join(words))
    list_final=list_final+list(set_temp)
  return list_final
#{'uyyp', 'yyup', 'yuyp', 'yupy', 'upyy', 'uypy', 'pyuy', 'yypu', 'puyy', 'ypyu', 'ypuy', 'pyyu'}
print(get_permutation('yupy'))

['yypu', 'ypyu', 'yupy', 'upyy', 'uyyp', 'uypy', 'pyuy', 'puyy', 'pyyu', 'yypu', 'yyup', 'yuyp']

In [ ]:
print("Input lengths of the triangle sides: ")
x = int(input("x: "))
y = int(input("y: "))
z = int(input("z: "))

if x == y == z:
	print("Equilateral triangle")
elif x==y or y==z or z==x: # or any true it gives true
	print("isosceles triangle")
else:
	print("Scalene triangle")

In [ ]:
year = int(input("Input a year: "))
day = int(input("Input a day [1-31]: "))
month = int(input("Input a month [1-12]: "))

# feb has 29 days in leap year and 28 otherwise
if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2016
Input a day [1-31]: 28
Input a month [1-12]: 2
The next date is [yyyy-mm-dd] 2016-2-29.

In [ ]:
36%24

12

In [ ]:

strig1="yupy"
words=[c for c in strig1]
random.shuffle(words)
words

['u', 'p', 'y', 'y']

In [ ]:
strig="abcd"
words=[]
for k in strig:
  words.append(k)

['a', 'b', 'c', 'd']

In [ ]:
# 1st case study pandas
import os
import pandas as pd

if os.path.exists("abcd.csv"):
  df=pd.read_csv("abcd.csv")
  all_values=list(df["sum"])
  print("ALL VALUES ",all_values)
  new_element=0
  for k in all_values:
    new_element=new_element+k
  all_values.append(new_element)
  dict_sum={"sum":all_values}
  new_df=pd.DataFrame(dict_sum)
  new_df.to_csv("abcd.csv",index=False)
else:
  df=pd.DataFrame({"sum":[1]})
  df.to_csv("abcd.csv",index=False)

ALL VALUES  [1]
[1, 1]

ValueError: ignored