In [ ]:
# LIST ARE MUTABLE
list_demo=[1,2,3,4,5,6]
list_demo[1]=28
list_demo

[1, '28', 3, 4, 5, 6]

In [ ]:
# Append function helps us add value at the last index of string
list_demo.append("Hello")
list_demo

[1, 88, 3, 4, 5, 6, 'Hello']

In [ ]:
# 1 data type for sorting
list_demo=[1,42,3,88,5,6]
list_demo.sort(reverse=True)
list_demo

[88, 42, 6, 5, 3, 1]

In [ ]:
# 1 data type for sorting
list_demo=['b','c','a','d','1','2']
list_demo.sort()
list_demo

['1', '2', 'a', 'b', 'c', 'd']

In [ ]:
list_demo=['b','c','a','d','1','2']
list_demo_2=['hello','Python']
list_demo.append(list_demo_2)
print(list_demo)
# You can compare two types of datatype

['b', 'c', 'a', 'd', '1', '2', ['hello', 'Python']]

In [ ]:
list_demo=['b','c','a','d','1','2']
list_demo_2=['hello','Python']
list_demo.extend(list_demo_2)
print(list_demo)
list_demo.sort()
print(list_demo)

['b', 'c', 'a', 'd', '1', '2', 'hello', 'Python']
['1', '2', 'Python', 'a', 'b', 'c', 'd', 'hello']

In [ ]:
list_demo=['b','c','a','d','1','2']
list_demo.reverse()
print(list_demo)

['2', '1', 'd', 'a', 'c', 'b']

In [ ]:
#
list_demo=[1,2,3,4,5,6,7,8,1,2,11,1,0]
print(list_demo.count(13))

0

In [ ]:
# find the lowest index of the value in list
list_demo=[1,2,3,4,5,6,7,8,1,2,11,1,0]
print(list_demo.index(2))

1

In [ ]:
list_demo=[1,2,3,4,5,6,7,8,1,2,11,1,0]
# pop REMOVES FROM LAST IF NO VALUE, IF A VALUE IS ENTERED IT REMOVED FROM THAT INDEX.
list_demo.pop()
list_demo

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 11, 1]

In [ ]:
tuple_demo=1,2
print(tuple_demo)
list_demo

(1, 2)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 11, 1]

05.04.2023

In [ ]:
list_demo=['Harry',"Potter",'and','The','goblet',"of",'Fire']

# +ve indexing +ve slicing (left to right)
print(list_demo[0:len(list_demo):1])

# -ve indexing -ve slicing (right to left)
print(list_demo[-1:-(len(list_demo)+1):-1])

# +ve indexing -ve slicing (right to left)
print(list_demo[6::-1])

# -ve indexing +ve slicing (left to right)
print(list_demo[-7::1])

['Harry', 'Potter', 'and', 'The', 'goblet', 'of', 'Fire']
['Fire', 'of', 'goblet', 'The', 'and', 'Potter', 'Harry']
['Fire', 'of', 'goblet', 'The', 'and', 'Potter', 'Harry']
['Harry', 'Potter', 'and', 'The', 'goblet', 'of', 'Fire']

In [ ]:
# WRAP TO FIND COUNT OF ALL ELEMENTS IN A STRING

str1 = "hello my friend how are you doing today"
str1=str1.replace(" ","")
print(set(str1))
print(str1.count('a'))
print(str1.count('y'))
print(str1.count('u'))
print(str1.count('g'))
print(str1.count('t'))
print(str1.count('o'))
print(str1.count('e'))
print(str1.count('h'))
print(str1.count('r'))
print(str1.count('d'))
print(str1.count('i'))
print(str1.count('n'))
print(str1.count('l'))
print(str1.count('w'))
print(str1.count('m'))
print(str1.count('f'))

{'f', 'y', 'r', 'n', 'g', 't', 'u', 'a', 'd', 'm', 'h', 'o', 'w', 'l', 'e', 'i'}
2
3
1
1
1
5
3
2
2
3
2
2
2
1
1
1

In [ ]:
# FIND THE LARGEST NUMBER IN THE LIST
a=[1,10,18,18,19,66,101,85]
a.sort()
print(a[-1])

101

In [ ]:
a=[1,10,18,18,19,66,101,85]
a.sort(reverse=True)
print(a[0])

101

In [ ]:
a=[1,10,18,19,66,101,85]
b=[1,2,6,8,9]
print(a+b)

[1, 10, 18, 18, 19, 66, 101, 85, 1, 2, 6, 8, 9]

In [ ]:
list_str=['Harry',"potter","and","the","goblet","of","fire"]
' '.join(list_str)

# take 1first value = "string" +2nd value

'Harry potter and the goblet of fire'

In [ ]:
#su=you
tup1=("Hey","how",'are',"su")
tup1=' '.join(tup1)
print(tup1.replace("su","you"))

Hey how are you

#Assignment

In [ ]:
a=[1,2,3,4,5,6,7,8]
print(a[0:len(a)//2])
print(a[len(a)//2:len(a)])

[1, 2, 3, 4]
[5, 6, 7, 8]

In [ ]:
#2) c=[1,2,3,4,5,1,2,3,'a','b',['h','a']] find count of all elements in this list
c=[1,2,3,4,5,1,2,3,'a','b',['h','a']]
print(set)
print(c.count(1))
print(c.count(2))
print(c.count(4))
print(c.count(5))
print(c.count(3))
print(c.count('a'))
print(c.count('b'))
print(c.count('h'))

<class 'set'>
2
2
1
1
2
1
1
0

In [ ]:
str_temp="11abcdeghsuyy"
print(str_temp[len(str_temp)::-1])

yyushgedcba11

In [ ]:
a=[1,2,3,4,5,7]
popped_value=a.pop(2)
a.insert(2,88)
print("AFTER INSERTION ",a)
a.append(popped_value)
print("FINAL OUTPUT ",a)

AFTER INSERTION  [1, 2, 88, 4, 5, 7]
FINAL OUTPUT  [1, 2, 88, 4, 5, 7, 3]

In [ ]:
# Write A program to check if a person if eligible for voting or not?
age = 18
if age >= 18:
  print('person is eligible to vote')
else:
  print('not eligible to vote')

person is eligible to vote

In [ ]:
# 2) Write A program to check if a number is even or odd?
num = 20
if (num)%2 == 0:
  print('even')
else:
  print('odd')

even

In [ ]:
# 3) Write a program to check if a number is divisible by 7 or not?
num = 77
if (num)%7 == 0:
  print('number is divisable by 7')
else:
  print('number is not divisable by 7')

number is divisable by 7

In [ ]:
#4) Write a program to print "hello" if a number is a multiple of 5 else print "Bye"

In [ ]:
num = 364
if (num)%5 == 0:
  print('"hello"')
else:
  print('"Bye"')

"Bye"

In [ ]:
# Write a program to calculate electricity bill according to following criteria

First 100 units                     No Charge
Next 100 units                     5 rupees per unit
After 200 Units                     10 rupees per unit

In [ ]:
unit = 350
if (unit) <= 100:
  print('No charge')
elif (unit) >= 100 and (unit) < 200 :
  print((100)*5)
elif (unit) > 200:
  print(((unit-200)*10)+(100*5))

2000

# Assignment 05.05.2023

In [ ]:
#1. Write a program to find list digit of a number for example 131 the last digit is 1

a = 123
b = a % 10
print("The last digit is", b)

The last digit is 3

In [ ]:
# 2. Write a program to check criteria of the student according to %
Marks                             GRADES
> 90 marks                        A
<80 and >=90 marks                B
<60 and <= 80 marks               C
Below 60                        Failed

In [ ]:
mark = 91
if (mark) > 90 :
  print("A")
elif (mark) > 80 and (mark) <= 90:
  print("B")
elif (mark) > 60 and (mark) <= 80:
  print("C")
elif (mark) < 60:
  print("Failed")

A

In [ ]:
x=1
if (x==1):
  print ("Jan")
if (x==2):
  print("Feb")
if (x==3):
  print("March")
if (x==4):
  print("April")
if (x==5):
  print("May")
if (x==6):
  print("June")
if (x==7):
  print("July")
if (x==8):
  print("August")
if(x==9):
  print("September")
if(x==10):
  print("October")
if(x==11):
  print("November")
if(x==12):
  print("December")
if(x<1 or x>12):
  print("Invalid input")

Jan

In [ ]:
#3. Write a program to take input between 1-12 and print which month of the year is it?(Hint) 1 is January

month_num = int(input("1, 2,3, 4, 5, 6, 7, 8, 9, 10, 11, 12: "))
if month_num == 1:
    month_name = "January"
elif month_num == 2:
    month_name = "February"
elif month_num == 3:
    month_name = "March"
elif month_num == 4:
    month_name = "April"
elif month_num == 5:
    month_name = "May"
elif month_num == 6:
    month_name = "June"
elif month_num == 7:
    month_name = "July"
elif month_num == 8:
    month_name = "August"
elif month_num == 9:
    month_name = "September"
elif month_num == 10:
    month_name = "October"
elif month_num == 11:
    month_name = "November"
elif month_num == 12:
    month_name = "December"
else:
    print("Invalid input")
    exit()
print("The month", month_num, "is", month_name)

1, 2,3, 4, 5, 6, 7, 8, 9, 10, 11, 12: 12
The month 12 is December

In [ ]:
# Write a program to take input between 1-7 and print which day of week it is Hint)  1 is Sunday
num = 5
if (num == 1):
    print("Sunday")
if (num == 2):
    print("Monday")
if (num == 3):
    print("Tuesday")
if (num == 4):
    print("Wednesday")
if (num == 5):
    print("Thursday")
if (num == 6):
    print("Friday")
if (num == 7):
    print("Saturday")
if(num<1 or num>8):
    print("invalid input")

Thursday

In [ ]:
 # Write a program to take input between 1-7 and print which day of week it is Hint)  1 is Sunday

weekday_num = int(input("1, 2,3, 4, 5, 6, 7"))
if weekday_num == 1:
    weekday_name = "Sunday"
elif weekday_num == 2:
    weekday_name = "Monday"
elif weekday_num == 3:
    weekday_name = "Tuesday"
elif weekday_num == 4:
    weekday_name = "Wednesday"
elif weekday_num == 5:
    weekday_name = "Thursday"
elif weekday_num == 6:
    weekday_name = "Friday"
elif weekday_num == 7:
    weekday_name = "Saturday"
else:
  print("invalid input")
  exit()
print("The day", weekday_num, "is", weekday_name)

1, 2,3, 4, 5, 6, 73
The day 3 is Tuesday

# 5) Check which number is greatest and smallest?

A= 82
B=76
C=51
D=42
decisionSet = set{[A,B,C,D])
print(min ' + ' str(min(decisionSet)))
print(max ' + ' str(min(decisionSet)))

In [ ]:
#6 Check if a person is senior citizen or NO?
x=64
if (x >= 65):
  print("Senior Citizen")
else:
  print("Not a senior citizen")

Not a senior citizen

In [ ]:
#7 Check if a number is positive or negative
(num) = 5
if (num) > 0:
    print("The number is positive.")
elif (num) == 0:
    print("The number is zero.")
else:
    print("The number is negative.")

The number is positive.

In [ ]:
#8 Check if a number is divisible by both 2 and 3
n=10
if(n%2 or n%3) > 0:
  print("Not divisabble by 2 and 3")
else:
  print("divisabble by 2 and 3")

Not divisabble by 2 and 3

In [ ]:
#Check if a character entered is a vowel or not
# get user input
char = "A"
if char.lower() in ['a', 'e', 'i', 'o', 'u']:
    print(char, "is a vowel")
else:
    print(char, "is not a vowel")

A is a vowel

In [ ]:
# get user input
char = "a"
if char.upper() in ['A', 'E', 'I', 'O', 'U']:
    print(char, "is a vowel")
else:
    print(char, "is not a vowel")

a is a vowel

In [ ]:
# Tell which person is the youngest and oldest
Messi=82
Ronaldo=91
Ronaldino=62
Neymar=51
# Define the ages of the players
Messi = 82
Ronaldo = 91
Ronaldino = 62
Neymar = 51

# Find the youngest and oldest players
youngest = min(Messi, Ronaldo, Ronaldino, Neymar)
oldest = max(Messi, Ronaldo, Ronaldino, Neymar)

# Print the results
print("The youngest player is", youngest, "years old.")
print("The oldest player is", oldest, "years old.")

The youngest player is 51 years old.
The oldest player is 91 years old.

05.08.2023

In [ ]:
# start,stop,step, formula is (n-1)
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1,10,1):
  for j in range(i*2):
   print(j)
  print("========== "+ str(i) +" =========")

0
1
========== 1 =========
0
1
2
3
========== 2 =========
0
1
2
3
4
5
========== 3 =========
0
1
2
3
4
5
6
7
========== 4 =========
0
1
2
3
4
5
6
7
8
9
========== 5 =========
0
1
2
3
4
5
6
7
8
9
10
11
========== 6 =========
0
1
2
3
4
5
6
7
8
9
10
11
12
13
========== 7 =========
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
========== 8 =========
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
========== 9 =========

In [ ]:
#  1) check if a number is prime or not  7   1 and 7
n=13
flag=True
if n <= 1:
  print("1 is a prime number")
for i in range(2, n//2):
  if n % i == 0:
    flag=False
if flag:
  print("Prime Number")
else:
  print("Not A Prime Number")

Prime Number

In [ ]:
n=51
#2,3,4
if n <= 1:
  print(str(n)+" is a prime number")
  
for i in range(2, n//2):
  if n % i == 0:
    print("Not a prime nuber")
    break
      
# if flag:
#   print("Prime Number")
# else:
#   print("Not A Prime Number")

Not a prime nuber

In [ ]:
# 1 Calculate the sum of all numbers from 1 to a given number
n = int(input("Enter a number: "))
if n<0:
  print("please enter n>0")
sum = 0
for i in range(1, n+1):
    sum = sum+i
print("The sum of all numbers from 1 to", n, "is", sum)

Enter a number: 5
The sum of all numbers from 1 to 5 is 15
15

In [ ]:
n=10
sum=0

for k in range(1,n+1):
  sum=sum+k

print(sum)

55

In [ ]:
# 2 Write a program to print multiplication table of a given number
n = int(input("enter a number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
   print(i,"*",j,"=",i*j)

enter a number:10
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
# 3 Count the total number of digits in a number
for i in range(5):
  print(i)

In [ ]:
x = 12345

counter = 1

for i in range(0, x):

  if x//10 > 0:

    counter = counter + 1

x = x//10

else:
  break

    print("The number is " + str(counter) + " digits long.")

SyntaxError: ignored

In [ ]:
# 4 Reverse a given integer number
num_str = input("Enter a number: ")
num_str_reversed = num_str[::-1]
print(num_str_reversed)

Enter a number: 12345
54321

In [ ]:
#5 Calculate the cube of all numbers from 1 to a given number
n = 3
print(cube.n)

05.09.2023

In [ ]:
a = 5
while a>=0:
  print("value of a in thi iteration is",a)
  if a==3:
    break
  else:
    print(a)
  a=a-1

value of a in thi iteration is 5
5
value of a in thi iteration is 4
4
value of a in thi iteration is 3

In [ ]:
a = 5
while a>=0:
  print("Hello",a)
  a=a-1
  print("Bye")

Hello 5
Bye
Hello 4
Bye
Hello 3
Bye
Hello 2
Bye
Hello 1
Bye
Hello 0
Bye

In [ ]:
a_str ="abcd"
# len() returns the length of the string
for k in range(len(a_str)): # 0,4,1
  # 0 ,1,2,3
  print(a_str[k])

a
b
c
d

In [ ]:
# Write a Python program to count the number of characters (character frequency) in a string.
a="hello world i hope everyone is doing well"
for k in set(a):
  print("Frequency of "+str(k) +" is :- ",a.count(k))

Frequency of o is :-  5
Frequency of   is :-  7
Frequency of h is :-  2
Frequency of l is :-  5
Frequency of e is :-  6
Frequency of w is :-  2
Frequency of r is :-  2
Frequency of i is :-  3
Frequency of v is :-  1
Frequency of d is :-  2
Frequency of n is :-  2
Frequency of p is :-  1
Frequency of s is :-  1
Frequency of y is :-  1
Frequency of g is :-  1

In [ ]:
a="hello world i hope everyone is doing well"
for k in set(a):
  freq=0
  for j in a:
    if k==j:
      freq=freq+1
  print("Frequency of "+str(k) +" is : ",freq)

Frequency of l is :  5
Frequency of e is :  6
Frequency of w is :  2
Frequency of y is :  1
Frequency of o is :  5
Frequency of   is :  7
Frequency of r is :  2
Frequency of d is :  2
Frequency of n is :  2
Frequency of i is :  3
Frequency of s is :  1
Frequency of p is :  1
Frequency of g is :  1
Frequency of h is :  2
Frequency of v is :  1

05.10.2023

In [ ]:
from io import UnsupportedOperation
# Python program to convert lower letter to upper and upper letter to lower in a string.
x = 'Hello world'
for k in x:
  if k.isupper():
    swapped_string=swapped_string+k.lower()
else:
    swapped_sting=swapped_sting+k.upper()
print(swapped_sting)

NameError: ignored

In [ ]:
wapped_string=""
name = "JoHn CeNa"
for k in name:
  if k.isupper():
    swapped_string=swapped_string+k.lower()
  else:
    swapped_string=swapped_string+k.upper()
print(swapped_string)

In [ ]:

# Write a python program to sort letters of word by lower to upper case format.
string = "Hello World"
lower_string=""
upper_string=""
for k in string:
  if k.islower():
    lower_string=lower_string+k
  else:
    upper_string=upper_string+k
lower_string=sorted(lower_string)
upper_string=sorted(upper_string)
print(''.join(lower_string+upper_string))

dellloor HW

In [ ]:
# Write a program in Python to count lower, upper, numeric and special characters in a string.
wold = "Hello world, this 2023 & Month is May"
lower_count=""
upper_count=""
numeric_count=""
spec_char_count=""
for k in word:
  if i.islower():
    low_count=low_count+1
  elif k.isupper():
    upper_count=upper_count+1
  elif k.isnumeric():
    numeric_count=numeric_count+1 
  else:
      print("spec character in",k)
      spec_count=spec_count+1
print(" Count of lowercase ",lower_count)
print(" Count of uppercase ",upper_count)
print(" Count of numeric ",numeric_count)
print(" Count of special characters ",special_count)

TypeError: ignored

In [ ]:
# Write a program in Python to remove an empty character from a list sequence.
demo_list=['hello','1','','bye', '', '']
for k in demo_list:
  if len(k) >0:
    demo_list.remove(k)
    print(demo_list)

['1', '', 'bye', '', '']
['1', '', '', '']

In [ ]:
# find the file extension from the name of the file for example demofile.pdf
filename ="demofile.pdf"
print("The file extension is:- ",filename.split(".")[-1])

The file extension is:-  pdf

In [ ]:
filename="demofile.jpeg"
# -1 is last index
print("THE FILE EXTENSION IS :- ",filename.split(".")[-1])

THE FILE EXTENSION IS :-  jpeg

05.12.2023

In [ ]:
import random
test_list = [1, 4, 5, 2, 7]
random_num = random.choice(test_list)
print(random_num)

7

In [ ]:
# between computer and user
# rock, paper , sci.... 
# if input varies ask user again for correct input
# game goes on until user wins
# scior < rock
# rock < paper
# paper < scior

In [ ]:
import random

def play_game():
    choices = ['rock', 'paper', 'scissors']
    computer_choice = random.choice(choices)
    user_choice = input("Enter your choice (rock/paper/scissors): ").lower()

    if user_choice not in choices:
        print("Invalid choice. Please try again.")
        play_game()
    else:
        print("You chose:", user_choice)
        print("Computer chose:", computer_choice)

        if user_choice == computer_choice:
            print("It's a tie!")
        elif user_choice == 'rock' and computer_choice == 'scissors' \
            or user_choice == 'paper' and computer_choice == 'rock' \
            or user_choice == 'scissors' and computer_choice == 'paper':
            print("You win!")
        else:
            print("Computer wins!")
            
def play_again():
    play_again = input("Do you want to play again? (y/n)").lower()
    if play_again == 'y':
        play_game()
    elif play_again == 'n':
        print("Thanks for playing!")
    else:
        print("Invalid input. Please try again.")
        play_again()


play_game()

Enter your choice (rock/paper/scissors): rock
You chose: rock
Computer chose: rock
It's a tie!

In [ ]:
import random
computer_inputs=["Rock","Paper","Scissors"]
user_win=False

while user_win==False:
  computer = random.choice(computer_inputs)
  player=input("Please enter the choice from 'Rock','Paper','Scissors' \n")
  if player.lower() == computer.lower():
        print("Tie!")
  elif player.lower() == "Rock".lower():
      if computer.lower() == "Paper".lower():
          print("You lose!", computer, "covers", player)
      else:
          print("You win!", player, "smashes", computer)
          user_win=True
  elif player.lower() == "Paper".lower():
      if computer.lower() == "Scissors".lower():
          print("You lose!", computer, "cut", player)
      else:
          print("You win!", player, "covers", computer)
          user_win=True
  elif player.lower() == "Scissors".lower():
      if computer.lower() == "Rock".lower():
          print("You lose!", computer, "smashes", player)
      else:
          print("You win!", player, "cut", computer)
          user_win=True
  else:
      print("That's not a valid play. Check your spelling!")

You lose! Paper covers rock

In [ ]:
# Write a program to find out the prime factors of a number. Example: prime factors of 56
def prime(n):
   for i in range(2, n//2):
      if n % i == 0:
        return False
   return True

In [ ]:

def is_prime(n):
   for i in range(2, n):
      if n % i == 0:
        return False
   return True

def primeFactors(n):
  checkmate=True
  for k in range(2,n):
    if n%k==0:
      if is_prime(k):
        print(str(k)+" is a prime factor of",n)
        checkmate=False
  if checkmate:
    print("Number has no prime factors")

n = 56
primeFactors(n)

2 is a prime factor of 56
7 is a prime factor of 56

#If all digits of a number n are multiplied by each other repeating with the product, the one digit number obtained at last is called the multiplicative digital root of n. The number of times digits need to be multiplied to reach one digit is called the multiplicative persistance of n


#Example: 86 -> 48 -> 32 -> 6 (MDR 6, MPersistence 3)

# 341 -> 12->2           (MDR 2, MPersistence 2)

In [ ]:
def multiplicative_digital_root(number):
    persistence = 0

    while number >= 10:
        result = 1
        for k in str(number):
            result *= int(k)
        number = result
        persistence += 1

    return number, persistence

In [ ]:
num1 = 75
mdr,persistence1 = multiplicative_digital_root(num1)
print("Multiplicative Digital Root:", mdr)
print("Multiplicative Persistence:", persistence1)

Multiplicative Digital Root: 5
Multiplicative Persistence: 3

In [ ]:
abcd=False
n=87
while abcd==False
  if n%2==0:
    abcd = True
    else:
       n=n//2
    print(n,abcd)

SyntaxError: ignored

05.17.2023

In [ ]:
f=open("abcd.txt","r")
# how many bytes you want to print
print(f.read().split("\n"))

FileNotFoundError: ignored

In [ ]:
"""
Write this dictonary to text file
read the data from text file
and convert it back to dictoanary 
"""

In [ ]:
temp_dict={}
for k in range(10):
  temp_dict["Name"+str(k)]=k

In [ ]:
{'Name0': 0, 'Name1': 1, 'Name2': 2, 'Name3': 3, 'Name4': 4, 'Name5': 5, 'Name6': 6, 'Name7': 7, 'Name8': 8, 'Name9': 9}

{'Name0': 0,
 'Name1': 1,
 'Name2': 2,
 'Name3': 3,
 'Name4': 4,
 'Name5': 5,
 'Name6': 6,
 'Name7': 7,
 'Name8': 8,
 'Name9': 9}

In [ ]:
print(temp_dict)
f=open("dictionary.txt", 'w')
for key,value in temp_dict.items():
  f.write(str(key)+","+str(value)+"\n")

{'Name0': 0, 'Name1': 1, 'Name2': 2, 'Name3': 3, 'Name4': 4, 'Name5': 5, 'Name6': 6, 'Name7': 7, 'Name8': 8, 'Name9': 9}

In [ ]:
empt_dict={}
f1=open("dictionary.txt",'r')
data=f1.read()
each_line=data.split("\n")
print("each line", each_line)
for k in each_line[:-1]:
  key,value=k.split(",")
  empt_dict[key]=int(value)
print(empt_dict)

each line ['Name0,0', 'Name1,1', 'Name2,2', 'Name3,3', 'Name4,4', 'Name5,5', 'Name6,6', 'Name7,7', 'Name8,8', 'Name9,9', '']
{'Name0': 0, 'Name1': 1, 'Name2': 2, 'Name3': 3, 'Name4': 4, 'Name5': 5, 'Name6': 6, 'Name7': 7, 'Name8': 8, 'Name9': 9}

In [ ]:
# 10 Write a program to check if a number is Armstrong or not
def is_armstrong_number(number):
    # Convert the number to a string to determine the number of digits
    num_str = str(number)
    num_digits = len(num_str)

    # Calculate the sum of the digits raised to the power of the number of digits
    armstrong_sum = sum(int(digit) ** num_digits for digit in num_str)

    # Check if the sum is equal to the original number
    if armstrong_sum == number:
        return True
    else:
        return False

# Get input from the user
number = int(input("Enter a number: "))

# Check if the number is an Armstrong number
if is_armstrong_number(number):
    print(number, "is an Armstrong number.")
else:
    print(number, "is not an Armstrong number.")

Enter a number: 9
9 is an Armstrong number.

05.23.2023

In [ ]:
# Write a Python program to create a Vehicle class with max_speed and mileage instance attributes.
class vehicle:
  def __init__(self, max_speed, mileage):
    self.max_speed = max_speed
    self.mileage = mileage

  def data(self):
    print("Max_speed: ", self.max_speed, "and the mileage is: ", self.mileage)
    
car=vehicle(150, 102222)
car.data()

Max_speed:  150 and the mileage is:  102222

In [ ]:
# Create a child class Bus that will inherit all of the variables and methods of the Vehicle class
class vehicle:
  def __init__(self, Model, color):
    self.Model = Model
    self.color = color

  def data(self):
    print("Model: ", self.Model, "and the color is: ", self.color)
    
class Bus(vehicle): # Grand Parent Class
  pass

bus=Bus("new model", "blue")
bus.data()

Model:  new model and the color is:  blue

In [ ]:
# Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

In [ ]:
class vehicle:# parent class
  def __init__(self, sitting_capacity):
    self.sitting_capacity = sitting_capacity

  def display(self):
    print("Sitting capacity: ", self.sitting_capacity)
    
class Bus(vehicle): # child class
  pass

bus=Bus(50)
bus.display()

Sitting capacity:  50

In [ ]:
# Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.
class Vehicle:
    def __init__(self, max_speed, mileage):
        print(" IT CAME IN INIT FOR PARENT CLASS")
        self.max_speed = max_speed
        self.mileage = mileage
        
    def display(self):
      print("Max Speed of Bus :-",self.max_speed)
      print("Milage of Bus :-",self.mileage)
    
    def display_capcity(self,capcity):
      print("PARENT CLASS Capacity of Bus :-",capcity)

class Bus(Vehicle):
    def __init__(self, max_speed, mileage,capacity):
      print(" IT CAME IN INIT FOR CHILD CLASS")
      capacity=50
      super().__init__(max_speed, mileage)
      self.capacity=capacity
    
    def seating_capacity(self):
        super().display_capcity(self.capacity)

        print("Seating capacity :-",self.capacity)

School_bus = Bus(180, 12,50)
#School_bus.display()
School_bus.seating_capacity()


School_bus.capacity=100
School_bus.seating_capacity()

 IT CAME IN INIT FOR CHILD CLASS
 IT CAME IN INIT FOR PARENT CLASS
PARENT CLASS Capacity of Bus :- 50
Seating capacity :- 50
PARENT CLASS Capacity of Bus :- 100
Seating capacity :- 100

05.23.2023
# CASE STUDY

Write a Python class Employee with attributes like emp_id, emp_name, emp_salary, and emp_department and methods like calculate_emp_salary, emp_assign_department, and print_employee_details.

Use 'assign_department' method to change the department of an employee.

Use 'print_employee_details' method to print the details of an employee.

Use 'calculate_emp_salary' method takes two arguments: salary and hours_worked, which is the number of hours worked by the employee.

In [ ]:
class Employee:
  class emp_id(Employee):# Raised when input value is less than 19
    pass
class emp_named(Employee):# Raised when input value is not valid
    pass
class emp_salary(Employee):# Raised when input value is less than 160 and 150
    pass
class emp_department(Employee):# Raised when input value is not in range
    pass
class NationalityException(Exception):# Raised when input value is less than 19
    pass

In [ ]:
class Employee:
    def __init__(self, emp_id, emp_name, emp_salary, emp_department):
        self.emp_id = emp_id
        self.emp_name = emp_name
        self.emp_salary = emp_salary
        self.emp_department = emp_department

    def cal_emp_salary(self, salary, hours_worked):
        Net_salary = salary * hours_worked
        return Net_salary

    def department(self, new_department):
        
        self.emp_department = new_department

    def print_employee_details(self):
        print("Emp ID: ", self.emp_id)
        print("Emp Name: ", self.emp_name)
        print("Emp Salary: ", self.emp_salary)
        print("Emp Dept: ", self.emp_department)
        print("---------------------------------")


emply1 = Employee("E1", "Kevin peter", 8000, "Eng")
emply1.print_employee_details()

salary = 15
hours_worked = 40
Net_salary = emply1.cal_emp_salary(salary, hours_worked)
print("Total Salary:", Net_salary)

emply1.department("Mnf")
emply1.print_employee_details()

Emp ID:  E1
Emp Name:  Kevin peter
Emp Salary:  8000
Emp Dept:  Eng
---------------------------------
Total Salary: 600
Emp ID:  E1
Emp Name:  Kevin peter
Emp Salary:  8000
Emp Dept:  Mnf
---------------------------------

In [ ]:
# # Write a function which takes in 5 arguments id,first name,last name,salary,department and puts all details in list if ID already not exists

In [ ]:
list1 = []

def add_employee_details(id, first_name, last_name, salary, department):
    for employee in list1:
        if employee[0] == id:
            print("Employee with ID",id, 'already exists')
            return

    list1.append([id, first_name, last_name, salary, department])
    print("Employee with ID",id, "added successfully.")

add_employee_details(1, "Moe", "Ray", 10000, "Mnf")
add_employee_details(2, "Joe", "lim", 12000, "Eng")
add_employee_details(3, "Allen", "steve", 15000, "Data_Sci")
add_employee_details(2, "Dev", "Kate", 8000, "adm")

Employee with ID 1 added successfully.
Employee with ID 2 added successfully.
Employee with ID 3 added successfully.
Employee with ID 2 already exists

In [ ]:
def add_employee(first_name,last_name,emp_id,salary,department):
  if emp_id not in emp_id_list:
    emp_first_name_list.append(first_name)
    emp_last_name_list.append(last_name)
    emp_id_list.append(emp_id)
    emp_salary_list.append(salary)
    emp_department_list.append(department)
  else:
    print("Employee ID Already Exists Try updating the details for the Employee")

In [ ]:
user_input=-1

while user_input!=7:
  emp_first_name_list=[]
  emp_last_name_list=[]
  emp_id_list=[]
  emp_salary_list=[]
  emp_department_list=[]

  print("1) Add Employee ")
  print("2) Remove Employee by ID ")
  print("3) Remove Employee by name ")
  print("4) Update details of Employee by Id")
  print("5) Display details of Employee by Id")
  print("6) Display details of all Employee ")
  print("7) Exit the EMS system ")

  user_input=int(input("Please enter a choice between 1-7"))
  
  if user_input==1:
    first_name= input("Please enter the first name ")
    last_name= input("Please enter the last name ")
    salary= input("Please enter the salary ")
    empy_id= input("Please enter the Employee ID ")
    department= input("Please enter the Department ")
    add_employee(first_name,last_name,salary,empy_id,department)
    print("Confirmation that record is added",emp_first_name_list)

  elif user_input==7:
    print("Bye")

1) Add Employee
2) Remove Employee by ID
3) Remove Employee by name
4) Update details of Employee by Id
5) Display details of Employee by Id
6) Display details of all Employee
7) Exit the EMS system
Confirmation that record is added ['Sher']
1) Add Employee
2) Remove Employee by ID
3) Remove Employee by name
4) Update details of Employee by Id
5) Display details of Employee by Id
6) Display details of all Employee
7) Exit the EMS system

In [ ]:
05.24.2023

In [ ]:
def add_employee(first_name,last_name,emp_id,salary,department):
  if emp_id not in emp_id_list:
    emp_first_name_list.append(first_name)
    emp_last_name_list.append(last_name)
    emp_id_list.append(emp_id)
    emp_salary_list.append(salary)
    emp_department_list.append(department)
    print("Record Added Successfully")
  else:
    print("Employee ID Already Exists Try updating the details for the Employee")

def remove_employee_by_id(emp_id):
  try:
    index_to_remove=emp_id_list.index(emp_id)
    emp_first_name_list.pop(index_to_remove)
    emp_last_name_list.pop(index_to_remove)
    emp_id_list.pop(index_to_remove)
    emp_salary_list.pop(index_to_remove)
    emp_department_list.pop(index_to_remove)
    print("Employee Removed Successfully !!")
  except :
    print("Id Doesnt not Exists Please verify the input once")

In [ ]:
user_input=-1
emp_first_name_list=[]
emp_last_name_list=[]
emp_id_list=[]
emp_salary_list=[]
emp_department_list=[]
while user_input!=7:

  print("\n")
  print("1) Add Employee")
  print("2) Remove Employee by id ")
  print("3) Remove Employee by name ")
  print("4) Update Details of Employee by ID ")
  print("5) Display details of Employee by ID ")
  print("6) Display details of ALL Employee ")
  print("7) Exit the EMS system")

  user_input=int(input("Please enter a Choice between 1-7 :- "))
  
  if user_input==1:

    first_name= input("Please enter the first name ")
    last_name= input("Please enter the last name ")
    salary= input("Please enter the salary ")
    empy_id= input("Please enter the Employee ID ")
    department= input("Please enter the Department ")
    add_employee(first_name,last_name,empy_id,salary,department)
    print("Confirmation that record is added",emp_first_name_list)
  elif user_input==2:
    empy_id= input("Please enter the Employee ID to Remove :- ")
    remove_employee_by_id(empy_id)
  elif user_input==5:
    empy_id= input("Please enter the Employee ID you want to check details for :- ")
    print_record_by_id(empy_id)

  elif user_input==7:
    print("Bye")

1) Add Employee
2) Remove Employee by id
3) Remove Employee by name
4) Update Details of Employee by ID
5) Display details of Employee by ID
6) Display details of ALL Employee
7) Exit the EMS system
Id Doesnt not Exists Please verify the input once


1) Add Employee
2) Remove Employee by id
3) Remove Employee by name
4) Update Details of Employee by ID
5) Display details of Employee by ID
6) Display details of ALL Employee
7) Exit the EMS system
Id Doesnt not Exists Please verify the input once


1) Add Employee
2) Remove Employee by id
3) Remove Employee by name
4) Update Details of Employee by ID
5) Display details of Employee by ID
6) Display details of ALL Employee
7) Exit the EMS system

In [ ]:
def add_employee(first_name,last_name,emp_id,salary,department):
  if emp_id not in emp_id_list:
    emp_first_name_list.append(first_name)
    emp_last_name_list.append(last_name)
    emp_id_list.append(emp_id)
    emp_salary_list.append(salary)
    emp_department_list.append(department)
    print("Record Added Successfully")
  else:
    print("Employee ID Already Exists Try updating the details for the Employee")

def remove_employee_by_id(emp_id):
  try:
    index_to_remove=emp_id_list.index(emp_id)
    emp_first_name_list.pop(index_to_remove)
    emp_last_name_list.pop(index_to_remove)
    emp_id_list.pop(index_to_remove)
    emp_salary_list.pop(index_to_remove)
    emp_department_list.pop(index_to_remove)
    print("Employee Removed Successfully !!")
  except :
    print("Id Doesnt not Exists Please verify the input once")

def update_details_by_id(emp_id):
  if emp_id in emp_id_list:
    emp_first_name_list.index(first_name)
    emp_last_name_list.index(last_name)
    emp_id_list.index(emp_id)
    emp_salary_list.index(salary)
    emp_department_list.index(department)
    print("Details Added Successfully")
  else:
    print("Employee ID not Exists Try updating the details for the Employee")

In [ ]:
user_input=-1
emp_first_name_list=[]
emp_last_name_list=[]
emp_id_list=[]
emp_salary_list=[]
emp_department_list=[]
while user_input!=7:

  print("\n")
  print("1) Add Employee")
  print("2) Remove Employee by id ")
  print("3) Remove Employee by name ")
  print("4) Update Details of Employee by ID ")
  print("5) Display details of Employee by ID ")
  print("6) Display details of ALL Employee ")
  print("7) Exit the EMS system")

  user_input=int(input("Please enter a Choice between 1-7 :- "))
  
  if user_input==3:

    first_name= input("Please enter the first name ")
    last_name= input("Please enter the last name ")
    salary= input("Please enter the salary ")
    empy_id= input("Please enter the Employee ID ")
    department= input("Please enter the Department ")
    add_employee(first_name,last_name,empy_id,salary,department)
    print("Confirmation that record is added",emp_first_name_list)
  elif user_input==2:
    empy_id= input("Please enter the Employee ID to Remove :- ")
    remove_employee_by_id(empy_id)
  elif user_input==5:
    empy_id= input("Please enter the Employee ID you want to check details for :- ")
    print_record_by_id(empy_id)

  elif user_input==7:
    print("Bye")

1) Add Employee
2) Remove Employee by id
3) Remove Employee by name
4) Update Details of Employee by ID
5) Display details of Employee by ID
6) Display details of ALL Employee
7) Exit the EMS system

In [1]:
abcd=[11,22,33,44,55]
abcd.index(22)

1

In [ ]:
# Remove Employee by name

# at first two inputs first name and last name

# if 1 record with first and last name found remove directly

# if no matching record show user wrong input

# match all the records with same name

# print out the ids of employees with same name

# ask for id which needs to be removed

# Both Rohit sharma records and prints their IDS and ask which id is to be removed

In [2]:
x = -5j
print(x)
print(type(x))

(-0-5j)
<class 'complex'>