# Assignment

In [12]:
# 1 Swap two numbers using 3rd variable
def swap_num(x, y):
    print("Original numbers: x =", x, "y =", y)
    var3 = x
    x = y
    y = var3
    print("After swapping: x =", x, "y =", y)
swap_num(7, 5)

Original numbers: x = 7 y = 5
After swapping: x = 5 y = 7

In [13]:
# 2 Swap two numbers without using 3rd variable
def swap_num(x, y):
    print("Original numbers: x =", x, "y =", y)
    x = x + y
    y = x - y
    x = x - y
    print("After swapping: x =", x, "y =", y)
swap_num(7, 5)

Original numbers: x = 7 y = 5
After swapping: x = 5 y = 7

In [ ]:
# 3 Remove duplicate elements from a list without converting to tuple

In [7]:
def remove_duplicates(lst):
    list = []
    for k in lst:
        if k not in list:
            list.append(k)
    return list

First_lst1 = [1, 2, 3, 2, 4, 1, 5, 6, 5]
result = remove_duplicates(First_lst1)
print("Original list:", First_lst1)
print("List after removing duplicates: ", result)

Original list: [1, 2, 3, 2, 4, 1, 5, 6, 5]
List after removing duplicates:  [1, 2, 3, 4, 5, 6]

In [32]:
# 4 Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a
N1 = int(input("Enter the first number: "))
N2 = int(input("Enter the second number: "))

result = gcd(N1, N2)
print("The GCD/HCF of", N1, "and", N2, "is:", result)

Enter the first number: 26
Enter the second number: 8
The GCD/HCF of 26 and 8 is: 2

In [33]:
# 5 Write a loop to print following series 10, 20, 30,  …………………, 300
n=300
for i in range(10, n+1, 10):
    print(i, end=" ")

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

In [40]:
# 6 Write a loop to print following series 105,98,91,………………………,7
n=7
for i in range(105, n-1, -7):
  print(i, end= " ")

105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [5]:
#7  Write a program to print number names of digits in a number like SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE
def number_names(number):
    digit_names = {'0': 'ZERO', '1': 'ONE', '2': 'TWO', '3': 'THREE', '4': 'FOUR', '5': 'FIVE', '6': 'SIX', '7': 'SEVEN', '8': 'EIGHT', '9': 'NINE'}
    number_str = str(number)
    for k in number_str:
        print(digit_names[k], end=' ')

number = 2017
print("Sample Input:", number)
print("Sample Output:", end=" ")
number_names(number)

Sample Input: 2017
Sample Output: TWO ZERO ONE SEVEN

In [49]:
# 8 Write a program to print Fibonacci series till n terms take n =50
def fibo(n):
  a, b = 0, 1
  print(a, b, end = ' ')
  for i in range(n-2):
      c  = a + b
      print(c, end = ' ')
      a = b
      b = c
fibo(50)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [18]:
# 9 Write a program to print factorial of a number
def fac(n):
    if n == 0:
        return 1
    else:
        return n * fac(n - 1)
number = int(input("Enter a number: "))
factorial = fac(number)
print("The factorial of", number, "is:", factorial)

Enter a number: 5
The factorial of 5 is: 120

In [71]:
# 10 Write a simple program to check if a number is Armstrong or not
number = int(input("Enter a number: "))
num_str = str(number)

num_digits = len(num_str)
armstrong_sum = sum(int(k) ** num_digits for k in num_str)

if armstrong_sum == number:
    print(number, "is an Armstrong number.")
else:
    print(number, "is not an Armstrong number.")

Enter a number: 371
371 is an Armstrong number.

In [72]:
# 11 Write a program to convert binary to decimal
print ("'binary'     'decimal'    ")
for i in range(0,5):
  print (bin(i),'         ',i,'          '   )

# another way
binary = input("Enter a binary number: ")
decimal = int(binary, 2)
print("The conversion of binary number ", binary, "to decimal is:", decimal)

'binary'     'decimal'
0b0           0
0b1           1
0b10           2
0b11           3
0b100           4
Enter a binary number: 0b100
The conversion of binary number  0b100 to decimal is: 4

In [78]:
# 12 Write a program to convert decimal to binary
decimal = int(input("Enter a decimal number: "))
binary = bin(decimal)
print("The conversion of decimal number ", decimal, "to binary is:", binary)

Enter a decimal number: 4
The conversion of decimal number  4 to binary is: 0b100

In [83]:
# 13 Write a program to check if number is palindrome on not (Without converting to string)
def is_palindrome(number):
    original = number
    reversed_num = 0

    while number > 0:
        digit = number % 10
        reversed_num = (reversed_num * 10) + digit
        number = number // 10

    if original == reversed_num:
        return True
    else:
        return False

number = int(input("Enter a number: "))

if is_palindrome(number):
    print(number, "is a palindrome.")
else:
    print(number, "is not a palindrome.")

Enter a number: 12321
12321 is a palindrome.

In [97]:
# 14 Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500
def divisable_numbers():
    for k in range(100, 501):
        if k % 13 == 0 and k % 3 != 0:
            print(k)

divisable_numbers()

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [102]:
# 15 Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Get input from the user
temperature = float(input("Enter the temperature: "))
unit = input("Enter the unit C or F): ")

if unit.lower() == 'c':
    fahrenheit = celsius_to_fahrenheit(temperature)
    print(temperature, "Celsius is equal to", fahrenheit, "Fahrenheit.")
elif unit.lower() == 'f':
    celsius = fahrenheit_to_celsius(temperature)
    print(temperature, "Fahrenheit is equal to", celsius, "Celsius.")
else:
    print("Invalid unit. Please enter 'C' for Celsius or 'F' for Fahrenheit.")

Enter the temperature: 22.3
Enter the unit C or F): c
22.3 Celsius is equal to 72.14 Fahrenheit.

In [116]:
# 16 Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0
def generate_array(a, b):
    array = [[0] * b for _ in range(a)]
    for i in range(1, a):
        for j in range(1, b):
            array[i][j] = i * j
    return array

a = int(input("Enter no. of rows (a): "))
b = int(input("Enter no. of columns (b): "))

result_array = generate_array(a, b)

for row in result_array:
    print(row)

Enter no. of rows (a): 2
Enter no. of columns (b): 3
[0, 0, 0]
[0, 1, 2]

In [125]:
# 17. Write a Python program that accepts a string and calculates the number of digits and letters.
def count_letters_digits(string):
    letters = 0
    digits = 0

    for char in string:
        if char.isdigit():
            letters += 1 
        elif char.isalpha():
            digits += 1

    return digits, letters

string = input("Enter a string: ")

letter_count, digit_count = count_letters_digits(string)

print("No. of letters :", letter_count)
print("No. of digits:", digit_count)

Enter a string: python 3.2
No. of letters : 6
No. of digits: 2

In [14]:
# 18. Print all possible combination for a string or a word # Sample input “ABC” Out put BAC, CAB, CBA, ACB, BCA
import itertools

s = "ABC"

s_sorted = sorted(s)

permutations = itertools.permutations(s_sorted)

for i in permutations:
    print(''.join(i))

ABC
ACB
BAC
BCA
CAB
CBA

In [1]:
#19. Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side
def triangle(a, b, c):
    if a == b == c:
        return "Equilateral"
    elif a == b or b == c or a == c:
        return "Isosceles"
    else:
        return "Scalene"

side1 = float(input("Enter the value of side1: "))
side2 = float(input("Enter the value of side2: "))
side3 = float(input("Enter the value of side3: "))

triangle_type = triangle(side1, side2, side3)

print("Triangle type:", triangle_type)

Enter the value of side1: 2
Enter the value of side2: 2
Enter the value of side3: 1
Triangle type: Isosceles

In [10]:
# 20 Write a Python program to get the next day of a given date.Expected Output:Input a year: 2016;Input a month [1-12]: 08; Input a day [1-31]: 23, The next date is [yyyy-mm-dd] 2016-8-24.

year = int(input("Input a year: "))

if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

month = int(input("Input a month [1-12]: "))

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30


day = int(input("Input a day [1-31]: "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2016
Input a month [1-12]: 08
Input a day [1-31]: 23
The next date is [yyyy-mm-dd] 2016-8-24.